{% extends 'base-home.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %} {{movie.title}}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div>

  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <a href="/details/{{movie.id}}"> <img src="{{ movie.title|get_poster (movie.year)}}" alt="Poster Not Available."> </a>
        </div>
      </div>
    </div>
    <div class="col-1">

    </div>
    <div class="col-4">
       <h4>
        <a style="color: brown;" href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' title="{{ movie.year }}"  target="_blank"> <u> {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
            {% endif %}
            {% if movie.onComputer %} 🖥️ {% endif %}
      </h4>

      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Year: </h4>
        <h4 class="col-lg-6" style="color: rgb(104, 95, 95); "> <a href='/all-movies-year/{{movie.year}}'> {{ movie.year }} </a></h4>

      </div>

      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Genres: </h4>
        <h4 class="col-lg-6" style="color: rgb(104, 95, 95); "> {{ movie.genres }}</h4>

      </div>

      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Director: </h4>
        <h4 class="col-lg-6" style="color: rgb(104, 95, 95); "> <a href='/all-movies/{{movie.director}}'> {{ movie.director }} </a>
        </h4>

      </div>

      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Runtime: </h4>
        <h4 class="col-lg-6" style="color: rgb(104, 95, 95); "> {{ movie.runtime }} minutes</h4>

      </div>

      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Current Rank: </h4>
        <h4 class="col-lg-6" style="color: rgb(104, 95, 95); "> #{{ movie.rank }}</h4>

      </div>


      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Head to Head: </h4>
        <h4 class="col-lg-6" style="color: rgb(104, 95, 95); "> {{ movie.rankingWinCount }} / {{ movie.rewatchCount }} ({{
          movie.rankingPercentage }}%)</h4>

      </div>
      {% if movie.stars is not none and movie.stars != 0 and movie.stars|string|length > 0 and movie.stars != 'None' %}

      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Stars: </h4>
        <h4 class="col-lg-6"   style="{% if movie.stars is none or movie.stars is string and movie.stars.isdigit() == False %}color:white;
        {% elif movie.stars|string|int >= 8 %}color:green;
        {% elif movie.stars|string|int >= 6 %}color:orange;
        {% else %}color:red;
        {% endif %}"> {{ movie.stars }} / 10
          </h4>

      </div>
      {% endif %}

      {% if movie.recommend is not none and movie.recommend|length > 0 and movie.recommend != 'None' %}

      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Recommendation: </h4>
        <h4 class="col-lg-6"
          style="{{ 'color:white;' if movie.recommend is none or movie.recommend == 'None' else 'color:green;' if movie.recommend == 'Would recommned' else 'color:darkorange;' if movie.recommend == 'If you have time' else 'color:red' }}">
          {{ movie.recommend }}</h4>

      </div>
      {% endif %}

      {% if movie.notes is not none and movie.notes|length > 0 and movie.notes != 'None' %}
      <div class="row">
        <h4 class="col-lg-6" style="color: black; "> Notes: </h4>
        <h4 class="col-lg-6" style="color:  rgb(104, 95, 95); "> {{ movie.notes }}</h4>

      </div>
      {% endif %}

      {% if movie.faveQuote is not none and movie.faveQuote|length > 0 and movie.faveQuote != 'None' %}
  <div class="row">
    <h4 class="col-lg-6" style="color: black; "> Favourite Quote: </h4>
    <h4 class="col-lg-6" style="color: rgb(104, 95, 95); "> {{ movie.faveQuote }}</h4>
  </div>
{% endif %}

    </div>

    <div class="col-1">

    </div>


    <div class="col-3">
      <h4>
        Head to Head:
      </h4>
      <div>
        <div id="movies">
          <table>
            <tr>
              <th>Movie</th>
              <th>Title</th>
              <th>Genres</th>
              <th>Stars</th>
              <th>Points</th>
              <th>Rank</th>
            </tr>
            {% for movie in similar1 %}
            <tr>
              <td style="width: 16%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img
                    src="{{ movie.title|get_poster}}" alt="Poster Not Available."> </a></td>
              <td><a style="color: brown;" style="color: brown;"
                  href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' title="{{ movie.year }}"  target="_blank"> <u>
                    {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
           {% endif %} {% if movie.onComputer %} 🖥️ {% endif %}</td>
              <td>{{ movie.genres }}</td>
              <td style="{% if movie.stars is none or movie.stars is string and movie.stars.isdigit() == False %}color:white;
              {% elif movie.stars|string|int >= 8 %}color:green;
              {% elif movie.stars|string|int >= 6 %}color:orange;
              {% else %}color:red;
              {% endif %}">
                {{ movie.stars }}/10
            </td>
              <td>{{ movie.rewatchScore }}</td>
              <td>#{{ movie.rank }}</td>
            </tr>
            {% endfor %}
            {% for movie in actualMovie %}
            <tr>
              <td style="width: 16%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img
                    src="{{ movie.title|get_poster}}" alt="Poster Not Available."> </a></td>
              <td style="background-color: beige;"><a href='http://www.google.com/search?q={{movie.title}}'
                  target="_blank" title="{{ movie.year }}"> <u> {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
           {% endif %} {% if movie.onComputer %} 🖥️ {% endif %}</td>
              <td style="background-color: beige;">{{ movie.genres }}</td>
              <td style=" background-color: beige; {% if movie.stars is none or movie.stars is string and movie.stars.isdigit() == False %}color:white;
          {% elif movie.stars|string|int >= 8 %}color:green;
          {% elif movie.stars|string|int >= 6 %}color:orange;
          {% else %}color:red;
          {% endif %}">
            {{ movie.stars }}/10
        </td>
              <td style="background-color: beige;">{{ movie.rewatchScore }}</td>
              <td style="background-color: beige;">#{{ movie.rank }}</td>
            </tr>
            {% endfor %}
            {% for movie in similar2 %}
            <tr>
              <td style="width: 16%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img
                    src="{{ movie.title|get_poster}}" alt="Poster Not Available."> </a></td>
              <td><a style="color: brown;" href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})'
                title="{{ movie.year }}"   target="_blank"> <u> {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
           {% endif %} {% if movie.onComputer %} 🖥️ {% endif %}</td>
              <td>{{ movie.genres }}</td>
              <td style="{% if movie.stars is none or movie.stars is string and movie.stars.isdigit() == False %}color:white;
                    {% elif movie.stars|string|int >= 8 %}color:green;
                    {% elif movie.stars|string|int >= 6 %}color:orange;
                    {% else %}color:red;
                    {% endif %}">
                      {{ movie.stars }}/10
                  </td>
              <td>{{ movie.rewatchScore }}</td>
              <td>#{{ movie.rank }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

      </div>
    </div>

    <div class="col-4">
      <h4>
        Similar Quality:
      </h4>
      <div id="movies1" class="table-responsive">
        <table>
          <tr>
            <th>Movie</th>
            <th>Title</th>
            <th>Year</th>

            <th>Director</th>
            <th>Genres</th>
            <th>Runtime</th>
          </tr>
          {% for movie in similarRanking %}
          <tr>
            <td style="width: 16%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img
                  src="{{ movie.title|get_poster}}" alt="Poster Not Available."> </a></td>
            <td><a style="color: brown;" style="color: brown;"
                href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' title="{{ movie.year }}"  target="_blank"> <u>
                  {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
           {% endif %} {% if movie.onComputer %} 🖥️ {% endif %}</td>
            <td><a href='/all-movies/{{movie.year}}'>{{ movie.year }}</a></td>
            <td><a href='/all-movies/{{movie.director}}'>{{ movie.director }}</a></td>
            <td>{{ movie.runtime }} minutes</td>
            <td>{{ movie.genres }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>





    <div class="col-4">
      <h4>
        Similar Unwatched Movies:
      </h4>
      <div id="movies3" class="table-responsive">
        <table>
          <tr>
            <th>Movie</th>
            <th>Title</th>
            <th>Year</th>

            <th>Director</th>
            <th>Runtime</th>
            <th>Genres</th>
          </tr>
          {% for movie in unwatchedRecommended %}
          <tr>
            <td style="width: 16%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img
                  src="{{ movie.title|get_poster}}" alt="Poster Not Available."> </a></td>
            <td><a style="color: brown;" style="color: brown;"
                href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})'  title="{{ movie.year }}" target="_blank"> <u>
                  {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
           {% endif %} {% if movie.onComputer %} 🖥️ {% endif %}</td>
            <td><a href='/all-movies/{{movie.year}}'>{{ movie.year }}</a></td>
            <td><a href='/all-movies/{{movie.director}}'>{{ movie.director }}</a></td>
            <td>{{ movie.runtime }} minutes</td>
            <td>{{ movie.genres }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>

    <div class="col-4">

      <div class="col-12">
        <h4>
          Related Movies:
        </h4>
        <div id="movies4" class="table-responsive">
          <table>
            <tr>
              <th>Movie</th>
              <th>Title</th>
              <th>Year</th>

              <th>Director</th>
              <th>Genres</th>
              <th>Runtime</th>
            </tr>
            {% for movie in similarDirector %}
            <tr>
              <td style="width: 16%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img
                    src="{{ movie.title|get_poster}}" alt="Poster Not Available."> </a></td>
              <td><a style="color: brown;" style="color: brown;"
                  href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})'  title="{{ movie.year }}" target="_blank"> <u>
                    {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
           {% endif %} {% if movie.onComputer %} 🖥️ {% endif %}</td>
              <td><a href='/all-movies/{{movie.year}}'>{{ movie.year }}</a></td>
              <td><a href='/all-movies/{{movie.director}}'>{{ movie.director }}</a></td>
              <td>{{ movie.genres }}</td>
            </tr>
            {% endfor %}
            {% for movie in relatedMovies %}
            <tr>
              <td style="width: 16%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img
                    src="{{ movie.title|get_poster}}" alt="Poster Not Available."> </a></td>
              <td><a style="color: brown;" style="color: brown;"
                  href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' title="{{ movie.year }}"  target="_blank"> <u>
                    {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
           {% endif %} {% if movie.onComputer %} 🖥️ {% endif %}</td>
              <td><a href='/all-movies/{{movie.year}}'>{{ movie.year }}</a></td>
              <td><a href='/all-movies/{{movie.director}}'>{{ movie.director }}</a></td>
              <td>{{ movie.runtime }} minutes</td>
              <td>{{ movie.genres }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>


    </div>
  </div>
</div>
</form>
</div>
{% endblock %}