{% extends 'base-home.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Duncan's Movies | Trending {% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">

  <div class="row">
    <div class="col-lg-4">
      <h3>Closest Rankings Today:</h3>
    </div>
    <div class="col-lg-4">
      <h3>Trending Today:</h3>
    </div>
    <div class="col-lg-4">
      <h3>Biggest Upsets Today:</h3>
    </div>
    <div class="col-4">
      <div>
        <div id="movies" class="table-responsive">
          <table>
            <tr>
              <th>Winner Movie</th>
              <th>Loser Movie</th>
              <th>Difference</th>
              <th>Reverse</th>
            </tr>
            {% for ranking in closestRankings %}
            <tr>
              <td style="width: 30%;">
                <div class="row">
                  <!-- <div class="col-12">
                    <a style="color: brown;" style="color: brown;"
                      href='http://www.google.com/search?q={{ranking.winnerTitle}} ({{ranking.winnerYear}})'
                      target="_blank"> <u> {{
                        ranking.winnerTitle }}</u></a>
                  </div> -->
                  <div class="col-12">
                    <a href='/details/{{ranking.winnerMovieId}}'>
                      <img src="/static/images/movieposters/{{ ranking.winnerPoster }}" alt="Poster Not Available.">
                    </a>
                  </div>
                </div>
              </td>
              <td style="width: 30%;">
                <div class="row">
                  <!-- <div class="col-12">
                    <a style="color: brown;"
                      href='http://www.google.com/search?q={{ranking.loserTitle}} ({{ranking.loserYear}})'
                      target="_blank"> <u> {{
                        ranking.loserTitle }} </u></a>
                  </div> -->
                  <div class="col-12">
                    <a href='/details/{{ranking.loserMovieId}}'>
                      <img src="/static/images/movieposters/{{ ranking.loserPoster }}" alt="Poster Not Available.">
                    </a>
                  </div>
                </div>
              </td>
              <td>
                #{{ranking.winnerRank}} vs. #{{ranking.loserRank}} 
                <!-- <p style="color: black;">({{ranking.rankingDifference}})</p>  -->
              </td>
              <td>
                <a style="color: blue;" href='/reverseTrendingRanking/{{ranking.id}}'><u>Reverse</u> </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>

      </div>
    </div>
    <div class="col-lg-4">
      <label for="minMovies">Min Rankings</label>
      <input type="number" class="form-control" name="minMovies" style="color:blue; caret-color: red; " id="minMovies"
        value="{{ minMovies }}" />
      <input class="btn" type="submit" value="Refresh" />
      <div id="movies">
        <table>
          <tr>
            <th>Movie</th>
            <th>Title</th>
            <th>Record</th>
          </tr>
          {% for movie in hottestMovies %}
          <tr>
            <td style="width: 10%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img
                  src="/static/images/movieposters/{{ movie.poster }}" alt="Poster Not Available."> </a></td>
            <td><a style="color: brown;" href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' title="{{ movie.year }}"  target="_blank"> <u> {{ movie.title }}  </u></a>  {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
         {% endif %}</td>
            <td> {{ movie.rankingWinCount }} / {{ movie.cinematicScore}} <p style="color: black;">
                ({{movie.winsGained}}%)
              </p>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="col-4">
      <div>
        <div id="movies" class="table-responsive">
          <table>
            <tr>
              <th>Winner Movie</th>
              <th>Loser Movie</th>
              <th>Difference</th>
              <th>Reverse</th>
            </tr>
            {% for ranking in biggestUpsets %}
            <tr>
              <td style="width: 30%;">
                <div class="row">
                  <!-- <div class="col-12">
                    <a style="color: brown;" style="color: brown;"
                      href='http://www.google.com/search?q={{ranking.winnerTitle}} ({{ranking.winnerYear}})'
                      target="_blank"> <u> {{
                        ranking.winnerTitle }}</u></a>
                  </div> -->
                  <div class="col-12">
                    <a href='/details/{{ranking.winnerMovieId}}'>
                      <img src="/static/images/movieposters/{{ ranking.winnerPoster }}" alt="Poster Not Available.">
                    </a>
                  </div>
                </div>
              </td>
              <td style="width: 30%;">
                <div class="row">
                  <!-- <div class="col-12">
                    <a style="color: brown;"
                      href='http://www.google.com/search?q={{ranking.loserTitle}} ({{ranking.loserYear}})'
                      target="_blank"> <u> {{
                        ranking.loserTitle }} </u></a>
                  </div> -->
                  <div class="col-12">
                    <a href='/details/{{ranking.loserMovieId}}'>
                      <img src="/static/images/movieposters/{{ ranking.loserPoster }}" alt="Poster Not Available.">
                    </a>
                  </div>
                </div>
              </td>
              <td>
                #{{ranking.winnerRank}} vs. #{{ranking.loserRank}} <p style="color: black;">({{ranking.rankingDifference}})</p> 
              </td>
              <td>
                <a style="color: blue;" href='/reverseTrendingRanking/{{ranking.id}}'><u>Reverse</u> </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>

      </div>
    </div>
  </div>

</form>

{% endblock %}