{% extends 'base-home.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Duncan's Movies | {{list.name}}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div >

  <div class="row">
    <div class="col-2">
      <h3> {{ list.name}} </h3>
      <div class="row">
        <h4 class="col-lg-3" style="color: black; "> Notes: </h4>
        <h4 class="col-lg-9" style="color: red; "> {{ list.notes }}</h4>
      </div>
      <div>
        <input
        class="btn"
              type="button"
        type="delete"
        value="Edit"
        onclick="location.href = '/update-list/{{list.id}}'"
      />
      </div>

      <div>
        <input
        class="btn"
              type="button"
        type="delete"
        value="Rank All"
        onclick="location.href = '/rank-by-list/{{list.id}}'"
      />
      </div>
      <div>
        <input
        class="btn"
              type="button"
        type="delete"
        value="{{timesRankedString}}"
        onclick="location.href = '/rank-by-list-unique/{{list.id}}'"
      />
      </div>
      <div class="btn-wrapper">
        <input class="btn" type="button" value="Auto Rank"
          onclick="location.href = '/auto-rank-list/{{list.id}}'" />
      </div>
    </div>

    <div class="col-10">
      <h3>
        Watched Movies ({{ movies|length }}):
      </h3>
    <div id="movies2">
        <table>
            <tr>
              <th>Movie</th>
              <th>Title</th>
              <th>Stars</th>
              <th>Recommendation</th>
              <th>Overall Rank</th>
              <th>Win Percentage Against List</th>

              <th>Ranking Details</th>
            </tr>
            {% for movie in movies %}
            <tr>
              <td style="width: 10%;"> <a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img src="/static/images/movieposters/{{ movie.poster }}" alt="Poster Not Available.">  </a></td>
              <td><a style="color: brown;" href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' title="{{ movie.year }}"  target="_blank"> <u> {{ movie.title }} ({{movie.year}})  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
            {% endif %}</td>
              <td style="{% if movie.stars is none or movie.stars is string and movie.stars.isdigit() == False %}color:white;
                    {% elif movie.stars|string|int >= 8 %}color:green;
                    {% elif movie.stars|string|int >= 6 %}color:orange;
                    {% else %}color:red;
                    {% endif %}">
                      {{ movie.stars }}/10
                  </td>
                  <td style="{{ 'color:white;' if movie.recommend is none or movie.recommend == 'None' else 'color:green;' if movie.recommend == 'Would recommned' else 'color:darkorange;' if movie.recommend == 'If you have time' else 'color:red' }}">
                    {{ movie.recommend }}
                </td>
              <td>#{{ movie.rank }}</td>
              <td> {{ movie.rankingWinCountList }} / {{movie.rewatchCountList}} ({{movie.rankingPercentageList}}%)</td>
              <!-- <td>#{{ movie.rank }}</td> -->
              <td>
                <div class="btn-wrapper">
                  <input
                    class="btn"
              type="button"
                    value="View"
                    onclick="location.href = '/ranking-details-for-list/{{list.id}}/{{movie.id}}'"
                  />
                </div>
                <div class="btn-wrapper">
                  <input
                    class="btn"
              type="button"
                    value="Rank"
                    onclick="location.href = '/rank-by-movie-in-list/{{movie.id}}/{{list.id}}'"
                  />
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
    </div>


  <script>
    function confirmDelete(listId) {
      // Use confirm() to show a popup
      if(confirm('Are you sure you want to delete this list?')) {
        // If the user confirms, redirect to the delete URL
        location.href = '/delete-list/' + listId;
      }
      // If the user cancels, do nothing
    }

    function confirmDuplicate(listId) {
      // Use confirm() to show a popup
      if(confirm('Are you sure you want to duplicate this list?')) {
        // If the user confirms, redirect to the delete URL
        location.href = '/duplicate-list/' + listId;
      }
      // If the user cancels, do nothing
    }

    function confirmRemove(listId, movieId) {
      // Use confirm() to show a popup
      if(confirm('Are you sure you want to remove from this list')) {
        // If the user confirms, redirect to the delete URL
        location.href = '/remove-to-list/' + listId + '/' + movieId;
      }
      // If the user cancels, do nothing
    }

  </script>
  

 
  
      
      
      
  </form>
</div>
{% endblock %}