{% extends 'base.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Duncan's Movies | Movie Finder {% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- 
<h3>Movie Finder:</h3> -->

<form method="post">

<div class="btn-wrapper">
  <input
    class="btn"
              type="submit"
    value="Next Movie"
    style="width: 50% !important; "
  />
</div>




<div class="row">
  <div class="col-4">
    <a href='/details/{{movie.id}}' title="#{{movie.rank}}"> <img  src="/static/images/movieposters/{{ movie.poster }}" alt="Poster Not Available."> </a>
  </div>
  <div class="col-8">
    <h4>
        <a style="color: brown;"
       href='http://www.google.com/search?q={{ movie.title }} ({{movie.year}})' target="_blank"> <u> {{ movie.title }} </u></a>
    </h4>

    <div class="row">
      <h4 class="col-lg-6" style="color: black; "> Year: </h4>
      <h4 class="col-lg-6" style="color: red; "> <a  href='/all-movies-year/{{movie.year}}'>  {{ movie.year }} </a></h4>
      
    </div>

    <div class="row">
      <h4 class="col-lg-6" style="color: black; "> Genres: </h4>
      <h4 class="col-lg-6" style="color: red; "> {{ movie.genres }}</h4>
      
    </div>

    <div class="row">
      <h4 class="col-lg-6" style="color: black; "> Director: </h4>
      <h4 class="col-lg-6" style="color: red; "> <a href='/all-movies/{{movie.director}}'>  {{ movie.director }} </a> </h4>
      
    </div>

    <div class="row">
      <h4 class="col-lg-6" style="color: black; "> Runtime: </h4>
      <h4 class="col-lg-6" style="color: red; "> {{ movie.runtime }} minutes</h4>
      
    </div>

    <div class="row">
      <h4 class="col-lg-6" style="color: black; "> Unwatched: </h4>
      <h4 class="col-lg-6" style="color: red; "> {{ unwatched }}</h4>
      
    </div>
    <div class="row">
      <h4 class="col-lg-6" style="color: black; "> Rewatch: </h4>
      <h4 class="col-lg-6" style="color: red; "> {{ rewatch }}</h4>
      
    </div>

    <div class="row" style="padding-top: 10%;">
      <div class="col-6">
    
  
        <div class="btn-wrapper">
          <input
            class="btn"
              type="button"
            value="Rank"
            onclick="location.href = '/rank-by-movie/{{movie.id}}'"
          />
        </div>
        <div class="btn-wrapper">
          <input
            class="btn"
              type="button"
            value="Ranking Details"
            onclick="location.href = '/ranking-details/{{movie.id}}'"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="btn-wrapper">
          <input
            class="btn"
              type="button"
            value="Logs ({{movie.timesWatched}} Times)"
            onclick="location.href = '/log-movie/{{movie.id}}'"
          />
        </div>
        <div class="btn-wrapper">
          <input
            class="btn"
              type="button"
            value="Edit Movie"
            onclick="location.href = '/update-movie/{{movie.id}}'"
          />
        </div>      
        
        
      </div>
      <div class="col-6">
        <div class="btn-wrapper">
          <input
            class="btn"
              type="button"
            type="delete"
            value="Rewatch"
            onclick="location.href = '/rewatch/{{movie.id}}'"
          />
          
        </div>
      </div>
      <div class="col-6">
        <div class="btn-wrapper">
          <input
            class="btn"
              type="button"
            type="delete"
            value="Watching"
            onclick="location.href = '/current/{{movie.id}}'"
          />
          
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-4">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        name="title" style="color:blue; caret-color: red; "
        id="title"
        value="{{ originalTitle }}"
      />
    </div>
    <div class="col-4">

<label for="director">Director</label>
<input
  type="text"
  class="form-control"
  name="director" style="color:blue; caret-color: red; "
  id="director"
  value="{{ originalDirector }}"
/>
    </div>
    <div class="col-4">

<label for="year">Year</label>
<input
  type="text"
  class="form-control"
  name="year" style="color:blue; caret-color: red; "
  id="year"
  value="{{ originalYear }}"
/>
    </div>
    <div class="col-4">
      <label for="recommendation">Recommendation</label>
<input
  type="text"
  class="form-control"
  name="recommendation" style="color:blue; caret-color: red; "  
  id="recommendation"
  value="{{ originalRecommendation }}"
/>
    </div>
    <div class="col-4">
      <label for="start">Runtime Minimum</label>
<input
  type="number"
  class="form-control"
  name="start" style="color:blue; caret-color: red; "
  id="start"
  value="{{ originalMinimum }}"
/>
    </div>
    <div class="col-4">

<label for="end">Runtime Maximum</label>
<input
  type="number"
  class="form-control"
  name="end" style="color:blue; caret-color: red; "
  id="end"
  value="{{ originalMaximum }}"
/>
    </div>
    <div class="col-4">
      <label for="genres">Genres</label>
<input
  type="text"
  class="form-control"
  name="genres" style="color:blue; caret-color: red; "  
  id="genres"
  value="{{ genres }}"
/>
    </div>
    <div class="col-4">

      <label for="end">Watched Before?</label>
      <input
        type="checkbox"
        class="form-control"
        name="watchedBefore" style="color:blue; caret-color: red; "
        id="watchedBefore"
        value="{{ watchedBefore }}"
        {{'checked="checked"' if watchedBefore else ""}}
      />
          </div>

          <div class="col-4">

            <label for="end">List View?</label>
            <input
              type="checkbox"
              class="form-control"
              name="listView" style="color:blue; caret-color: red; "
              id="listView"
              value="{{ listView }}"
              {{'checked="checked"' if listView else ""}}
            />
                </div>
  </div>

</form>



</div>


{% endblock %}
