{% extends 'base-home.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Rank Movies{% endblock %}</h1>
{% endblock %}

{% block content %}

<h3>Types of Rankings:</h3>
<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="All Movies"
    onclick="window.open('/rank-all', '_blank')"
  />
</div>
<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="Similar Rankings"
    onclick="window.open('/rank-by-proximity', '_blank')"
  />
</div>

<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="👍 Rankings"
    onclick="window.open('/rank-by-liked', '_blank')"
  />
</div>

<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="🤝 Rankings"
    onclick="window.open('/rank-by-mid', '_blank')"
  />
</div>

<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="👎 Rankings"
    onclick="window.open('/rank-by-unliked', '_blank')"
  />
</div>
<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="Winner Stays"
    onclick="window.open('/rank-by-winner/0', '_blank')"
  />
</div>
<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="Loser Stays"
    onclick="window.open('/rank-by-loser/0', '_blank')"
  />
</div>
<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="Recently Watched"
    onclick="window.open('/rank-by-recent', '_blank')"
  />
</div>
<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="Least Ranked"
    onclick="window.open('/rank-by-unranked', '_blank')"
  />
</div>

<div style="padding-bottom: 1%;">
  <input
    class="btn"
    type="button"
    value="Unique Rankings"
    onclick="window.open('/rank-by-unique', '_blank')"
  />
</div>

{% endblock %}
