{% extends 'base.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Rankings By Stars{% endblock %}</h1>
{% endblock %}

{% block content %}

<h3>Ranked Movies ({{ movies|length }}):</h3>

<form method="post">
  <div class="row">
    <div class="col-6">
      <label for="title">Title</label>
<input
  type="text"
  class="form-control"
  name="title" style="color:blue; caret-color: red; "
  id="title"
  value="{{ originalTitle }}"
/>
    </div>
    <div class="col-6">
      <label for="director">Director</label>
<input
  type="text"
  class="form-control"
  name="director" style="color:blue; caret-color: red; "
  id="director"
  value="{{ originalDirector }}"
/>
    </div>
    <div class="col-6">
      <label for="year">Year</label>
<input
  type="text"
  class="form-control"
  name="year" style="color:blue; caret-color: red; "
  id="year"
  value="{{ originalYear }}"
/>
    </div>
    <div class="col-6">
      <label for="recommendation">Recommendation</label>
<input
  type="text"
  class="form-control"
  name="recommendation" style="color:blue; caret-color: red; "  
  id="recommendation"
  value="{{ originalRecommendation }}"
/>

    </div>

    <div class="col-6">
      <label for="start">Runtime Minimum</label>
<input
  type="number"
  class="form-control"
  name="start" style="color:blue; caret-color: red; "
  id="start"
  value="{{ originalMinimum }}"
/>
    </div>

    <div class="col-6">
      <label for="end">Runtime Maximum</label>
<input
  type="number"
  class="form-control"
  name="end" style="color:blue; caret-color: red; "
  id="end"
  value="{{ originalMaximum }}"
/>
    </div>

    <div class="col-6">
      <label for="genres">Genres</label>
      <input
        type="text"
        class="form-control"
        name="genres" style="color:blue; caret-color: red; "  
        id="genres"
        value="{{ genres }}"
      />
    </div>
    <div class="col-6">
      <label for="stars">Stars</label>
      <input
        type="text"
        class="form-control"
        name="stars" style="color:blue; caret-color: red; "  
        id="stars"
        value="{{ stars }}"
      />
    </div>

  </div>
  


<div class="btn-wrapper">
  <input
    class="btn"
              type="submit"
    value="Filter"
    style="width: 50% !important; "
  />
</div>
</form>

<div id="movies">
    <table style="width: 100%;">
        <tr>
          <th></th>
          <th>Movie</th>
          <!-- <th>Year</th> -->
          <!-- <th>Director</th>
          <th>Runtime</th> -->
          <!-- <th>Count</th>
          <th>Points</th> -->
          <!-- <th>Genres</th> -->
          <th>Stars</th>
          <th>Notes</th>
          <th>Recommendation</th>
          <!-- <th>IMDB</th>
          <th>Rotten Tomatoes</th>
          <th>Audience Rating</th> -->
          <!-- <th></th> -->
          <th></th>
        </tr>
        {% for movie in movies %}
        <tr>
          <td style=" text-align: center;
          vertical-align: middle; width: 10%;"><a href='/details/{{movie.id}}' title="#{{movie.rank}}"><img src="{{ movie.id|get_poster(movie.title, movie.year, movie.poster)}}" alt="Poster Not Available.">  </a></td>
          <!-- <td style="width: 10%;"> <img src="{{ movie.id|get_poster(movie.title, movie.year, movie.poster)}}" alt="Poster Not Available."> </td> -->
          <td><a style="color: brown;" style="color: brown;"
            href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' target="_blank"> <u>
              {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
           {% endif %} {% if movie.onComputer %} 🖥️ {% endif %}</td>
          <!-- <td><a  href='/all-movies-year/{{movie.year}}'>  {{ movie.year }} </a></td> -->
          <!-- <td><a href='/all-movies/{{movie.director}}'> {{ movie.director }} </a></td>
          <td>{{ movie.runtime }}</td> -->
          <!-- <td>{{ movie.rewatchCount }}</td>
          <td>{{ movie.rewatchScore }}</td> -->
          <!-- <td>{{ movie.genres }}</td> -->
          <!-- <td style="color: rgba(33, 63, 140, 0.934);">{{ movie.stars }}/10</td> -->
          <td style="{{ 'color:green;' if movie.stars >= 8 else 'color:orange;' if movie.stars >= 6 else 'color:red;' }}">
            {{ movie.stars }}/10
        </td>
          <td style="color: rgb(99, 95, 95);">{{ movie.notes }}</td>
          <td style="{{ 'color:white;' if movie.recommend is none or movie.recommend == 'None' else 'color:green;' if movie.recommend == 'Would recommned' else 'color:darkorange;' if movie.recommend == 'If you have time' else 'color:red' }}">
            {{ movie.recommend }}
        </td>
          <!-- <td>{{ movie.imdbRating }}</td>
          <td>{{ movie.rottenTomatoRating }}</td>
          <td>{{ movie.audienceRating }}</td> -->
          <!-- <td><a href='/update-movie/{{movie.id}}'>Update </a></td> -->
          <td><a href='/rank-by-movie/{{movie.id}}'>Rank</a></td>
        </tr>
        {% endfor %}
      </table>
</div>

{% endblock %}
