{% extends 'base-home.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %} Ranking Details For Stars{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">

  <style>
    .poster-wrapper {
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-align: center !important;
      /* Ensure that the blur does not extend outside the image area */
    }
  
    .poster-wrapper img {
      width: 100%;
      display: block;
      transition: filter 0.5s ease-in-out;
      /* Smooth transition for the blur effect */
    }
  
    .poster-wrapper .hover-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.7);
      /* Light background with some opacity */
      background-size: contain;
      color: black;
      /* Text color */
      border-radius: 5px;
      /* Soften the edges */
      font-size: 20px;
      /* Adjust based on your design */
      visibility: hidden;
      /* Hidden by default */
      opacity: 0;
      transition: visibility 0s, opacity 0.5s ease-in-out;
    }
  
    .poster-wrapper:hover img {
      filter: blur(2px);
      /* Apply blur to the image on hover */
    }
  
    .poster-wrapper:hover .hover-text {
      visibility: visible;
      opacity: 1;
    }
  </style>
  


<div >
  <div class="row">
    <div class="col-12" >
      <div>

      </div>
     
      
      <div class="row">
        <div class="col-6" style="text-align: center;">
          <!-- Container for the image, set to inline-block to contain size -->
          <div style="display: inline-block;">
            <!-- Anchor tag directly wrapping the image -->
            <a href='/details/{{movie.id}}' title="#{{movie.rank}}">
              <img style="width: 30%; margin-left: auto; margin-right: auto;" src="{{ movie.id|get_poster(movie.title, movie.year, movie.poster)}}" alt="Poster Not Available.">
            </a>
          </div>
  
        </div>
        <div class="col-6">
          <label for="star">Rank By Specific Star</label>
      <input type="number" class="form-control" name="star" style="color:blue; caret-color: red; " id="star"
        value="{{ star }}"step="0.5" />
      <input class="btn" type="submit" value="Rank" />
      <div class="btn-wrapper">
        <input class=" col-12 btn" type="button" value="Rank From {{star - 0.5}} to {{star + 0.5}}"
          onclick="window.open('/rank-by-specific-star-range/{{movie.id}}/{{star}}')" />
      </div>
      <div class="btn-wrapper">
        <input class=" col-12 btn" type="button" value="Rank By All Stars"
          onclick="window.open('/rank-by-stars/{{movie.id}}')" />
      </div>
      <div class="btn-wrapper">
        <input class="btn" type="button" value="Edit Movie"
          onclick="window.open('/log-movie/{{movie.id}}')" />
      </div>
        </div>
      </div>
       
      {% if movie.stars is not none and movie.stars != 0 and movie.stars|string|length > 0 and movie.stars != 'None' %}
      <h4 style="text-align: center; color: rgb(165, 143, 21);">
        Current Rating: {{ movie.stars }}/10
      </h4>
      {% endif %}

      <h4 title="{{ explainSt }}" style="text-align: center; color:orange">
        Suggested Rating: {{ suggestedStar }}/10
       
      </h4>
      <h4  style="text-align: center; color:yellowgreen">
        Imdb Rating: <a href="https://imdb.com/title/{{movie.imdbId}}" target="_blank">{{ movie.imdbRating }}/10</a> 
       
      </h4>

      
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 style="color: black;">
        Always Beats: {{ winnerScore }}/10
      </h4>
      <h4>
        Movies '<a style="color: brown;" href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' target="_blank" title="{{ movie.year }}" > <u> {{ movie.title }} ({{movie.year}}) </u></a>' Beat ({{ winners|length }}):
      </h4>

      <div id="movies">
        {% for winner in winners %}
        <div class="row">
          <a href='http://www.google.com/search?q={{winner.winnerTitle}}' target="_blank"> {{winner.winnerTitle}} </a> {% if winner.winnerLiked == 1 %}
          <span style="color: red;">&#128077;</span> <!-- Red heart -->
        {% elif winner.winnerLiked == 2 %}
          <span>&#129309;</span> <!-- Handshake -->
        {% elif winner.winnerLiked == 3 %}
          <span>&#128078;</span> <!-- Trash can -->
      
          {% endif %}
          {{winner.winnerStars}}/10
          <a href='/rank-by-specific/{{movie.id}}/{{winner.loserMovieId}}' target="_blank"><img width="50%"
              src="{{winner.loserMovieId|get_poster(winner.winnerTitle, winner.winnerYear, winner.winnerPoster)}}" alt="Poster Not Available."> </a>
        </div>
        {% endfor %}
      </div>

    </div>

    <div class="col-6">
      <h4 style="color: black;">
        Always Loses to: {{ loserScore }}/10
      </h4>
      <h4>

        Movies '<a style="color: brown;" href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' target="_blank" title="{{ movie.year }}" > <u> {{ movie.title }} ({{movie.year}}) </u> </a>' Lost To ({{ losers|length }}):
      </h4>
     
      <div id="movies">
        {% for loser in losers %}
        <div class="row">
          <a href='http://www.google.com/search?q={{loser.loserTitle}}' target="_blank"> {{loser.loserTitle}} </a>{% if loser.loserLiked == 1 %}
          <span style="color: red;">&#128077;</span> <!-- Red heart -->
        {% elif loser.loserLiked == 2 %}
          <span>&#129309;</span> <!-- Handshake -->
        {% elif loser.loserLiked == 3 %}
          <span>&#128078;</span> <!-- Trash can -->
      
          {% endif %} {{loser.loserStars}}/10
          <a href='/rank-by-specific/{{movie.id}}/{{loser.winnerMovieId}}'target="_blank"><img width="50%"
              src="{{loser.winnerMovieId|get_poster(loser.loserTitle, loser.loserYear, loser.loserPoster)}}" alt="Poster Not Available."> </a>
        </div>

        {% endfor %}
      </div>

    </div>
  </div>



</div>
</form>
{% endblock %}