{% extends 'base-home.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %} {{title}}{% endblock %}</h1>
{% endblock %}

{% block content %}

<style>



.vs-indicator {
    text-align: center;
    font-size: 20px; /* Adjusted for smaller screens below */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .vs-indicator div {
    background: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

  .vs-arrow {
    display: inline-block;
    margin: 0 20px;
    font-size: 24px; /* Adjusted for smaller screens below */
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .vs-indicator {
      font-size: 16px;
    }

    .vs-arrow {
      margin: 0 10px;
      font-size: 20px;
    }

    .vs-indicator div {
      padding: 5px 10px;
    }
  }

  @media (max-width: 480px) {
    .vs-indicator {
      font-size: 14px;
    }

    .vs-arrow {
      font-size: 18px;
    }

    .vs-indicator div {
      padding: 2px 5px;
    }
  }

  .poster-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: center !important;
    /* Ensure that the blur does not extend outside the image area */
  }

  .poster-wrapper img {
    width: 100%;
    display: block;
    transition: filter 0.5s ease-in-out;
    /* Smooth transition for the blur effect */
  }

  .poster-wrapper .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    /* Light background with some opacity */
    background-size: contain;
    color: black;
    /* Text color */
    border-radius: 5px;
    /* Soften the edges */
    font-size: 20px;
    /* Adjust based on your design */
    visibility: hidden;
    /* Hidden by default */
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }

  .poster-wrapper:hover img {
    filter: blur(2px);
    /* Apply blur to the image on hover */
  }

  .poster-wrapper:hover .hover-text {
    visibility: visible;
    opacity: 1;
  }
</style>


<div class="container-fluid">
  <div class="row" id="captureThisDiv">
    <div style="background-color: #f0f0f0; text-align: center;" class="col-4">
      <div style="color: grey; font-size: 20px;"><a
          href='http://www.google.com/search?q={{firstMovie.title}} ({{firstMovie.year}})' title="{{firstMovie.Plot}}"
          target="_blank">{{
          firstMovie.title }} ({{ firstMovie.year }})</a></div>
      <div class="poster-wrapper" style="margin-top: 10px;"><a href="{{firstMovieLink}}"><img
            src="{{ firstMovie.id|get_poster(firstMovie.title, firstMovie.year, firstMovie.poster) }}"
            alt="Movie Poster" style="width: 100%;">
          <div class="hover-text">Rather Watch</div>
        </a></div>
      <div style="margin-top: 5px;">Directed By: <a href='/all-movies/{{firstMovie.DirectorString}}' target="_blank">
          <span style="font-weight: bold;">{{ firstMovie.DirectorString }}</span></a></div>
      <!-- <div style="margin-top: 10px;">Written By:<span style="font-weight: bold;">{{ firstMovie.Writer }}</span></div> -->
      <div style="margin-top: 5px;">Runtime: <span style="font-weight: bold;">{{ firstMovie.RuntimeString }}</span>
      </div>
      <div style="margin-top: 5px;">Genres: <span style="font-weight: bold;">{{ firstMovie.Genre }}</span></div>
      <div style="margin-top: 5px;">Starring: <span style="font-weight: bold;">{{ firstMovie.Actors }}</span></div>
      <div style="margin-top: 5px;">Your Rating: <span style="font-weight: bold;">{{ firstMovie.stars }}/10</span> {% if
        firstMovie.liked == 1 %}<span style="color: red;">&#128077;</span>{% elif firstMovie.liked == 2 %}
        <span>&#129309;</span>{% elif firstMovie.liked == 3 %}<span>&#128078;</span>{% endif %}
      </div>
      <div style="margin-top: 5px;">Imdb Rating: <a href="https://imdb.com/title/{{firstMovie.imdbId}}"
          target="_blank"><span style="font-weight: bold;">{{ firstMovie.imdbRating }}/10</span></a> </div>
      <div class="btn-wrapper">
        <input class="btn" type="button" value="More Details" onclick="window.open('/details/{{firstMovie.id}}')" />
      </div>

      {% if firstMovie.rewatch != 1 %}
      <div class="btn-wrapper">
        <input class="btn" type="button" value="Add to Rewatch List"
          onclick="window.open('/rewatch/{{firstMovie.id}}')" />
      </div>
      {% endif %}
    </div>
    <div class="col-lg-2">
      <div class="vs-indicator">
        <div>
          <span class="vs-arrow">&#8592;</span>
          <br>
          Which Would You Rather Watch?
          <br>
          <span class="vs-arrow">&#8594;</span>
        </div>
      </div>
    </div>
    <div style="background-color: #f0f0f0; text-align: center;" class="col-4">
      <div style="color: grey; font-size: 20px;"><a
          href='http://www.google.com/search?q={{secondMovie.title}} ({{secondMovie.year}})'
          title="{{secondMovie.Plot}}" target="_blank">{{
          secondMovie.title }} ({{ secondMovie.year }})</a></div>
      <div class="poster-wrapper" style="margin-top: 10px;"><a href="{{secondMovieLink}}" alt="Movie Poster"
          style="width: 100%;"><img
            src="{{ secondMovie.id|get_poster(secondMovie.title, secondMovie.year, secondMovie.poster)}}"
            alt="Movie Poster" style="width: 100%;">
          <div class="hover-text">Rather Watch</div>
        </a></div>
      <div style="margin-top: 5px;">Directed By: <a href='/all-movies/{{secondMovie.DirectorString}}' target="_blank">
          <span style="font-weight: bold;">{{ secondMovie.DirectorString }}</span></a></div>
      <!-- <div style="margin-top: 10px;">Written By:<span style="font-weight: bold;">{{ secondMovie.Writer }}</span></div> -->
      <div style="margin-top: 5px;">Runtime: <span style="font-weight: bold;">{{ secondMovie.RuntimeString }}</span>
      </div>
      <div style="margin-top: 5px;">Genres: <span style="font-weight: bold;">{{ secondMovie.Genre }}</span></div>
      <div style="margin-top: 5px;">Starring: <span style="font-weight: bold;">{{ secondMovie.Actors }}</span></div>
      <div style="margin-top: 5px;">Your Rating: <span style="font-weight: bold;">{{ secondMovie.stars }}/10</span> {%
        if secondMovie.liked == 1 %}<span style="color: red;">&#128077;</span>{% elif secondMovie.liked == 2 %}
        <span>&#129309;</span>{% elif secondMovie.liked == 3 %}<span>&#128078;</span>{% endif %}
      </div>
      <div style="margin-top: 5px;">Imdb Rating: <a href="https://imdb.com/title/{{secondMovie.imdbId}}"
          target="_blank"><span style="font-weight: bold;">{{ secondMovie.imdbRating }}/10</span></a> </div>
      <div class="btn-wrapper">
        <input class="btn" type="button" value="More Details" onclick="window.open('/details/{{secondMovie.id}}')" />
      </div>
      {% if secondMovie.rewatch != 1 %}

      <div class="btn-wrapper">
        <input class="btn" type="button" value="Add to Rewatch List"
          onclick="window.open('/rewatch/{{secondMovie.id}}')" />
      </div>
      {% endif %}
    </div>
    
    <div class="col-2">
      <div class="row">
        <input class="btn" type="submit" value="{{buttonName}}" onclick="window.open('{{buttonValue}}')" />
      </div>
      Last Ranked: <span style="color: black; background-color: #FFFF00">{{flagged}} </span>
      <div class="row">
        <div class="col-6">
          Winner:
        </div>
        <div class="col-6">
          Loser:
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <a href=/details/{{winner.id}} target="_blank"> <img
              src="{{ winner.id|get_poster(winner.title, winner.year, winner.poster) }}"
              alt="Poster Not Available."></a>
        </div>
        <div class="col-6">
          <a href=/details/{{loser.id}} target="_blank"> <img
              src="{{ loser.id|get_poster(loser.title, loser.year, loser.poster) }}" alt="Poster Not Available."></a>
        </div>
      </div>

      <div class="row">
        <input class="btn" type="submit" value="Reverse" onclick="location.href='/reverse-last-rank'" />
      </div>

      <div class="row">
        <input id="screenshotButton" class="btn" type="button" value="Skip"  onclick="location.href='/share/{{firstMovie.id}}/{{secondMovie.id}}'" />
      </div>

    
    </div>
  </div>
</div>
{% endblock %}