{% extends 'base.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Duncan's Movies | Rankings{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if scroll_to_id %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    var element = document.getElementById('movie-{{ scroll_to_id }}');
    if (element)
element.scrollIntoView();
}
);
</script>
{% endif %}

<h3>Head To Head Rankings:</h3>

<form method="post">
  <label for="title">Title</label>
<input
  type="text"
  class="form-control"
  name="title" style="color:blue; caret-color: red; width: 50%;"
  id="title"
  value="{{ originalTitle }}"
/>

<label for="director">Director</label>
<input
  type="text"
  class="form-control"
  name="director" style="color:blue; caret-color: red; width: 50%;"
  id="director"
  value="{{ originalDirector }}"
/>

<label for="year">Year</label>
<input
  type="text"
  class="form-control"
  name="year" style="color:blue; caret-color: red; width: 50%;"
  id="year"
  value="{{ originalYear }}"
/>

<label for="recommendation">Recommendation</label>
<input
  type="text"
  class="form-control"
  name="recommendation" style="color:blue; caret-color: red; width: 50%;"  
  id="recommendation"
  value="{{ originalRecommendation }}"
/>


<label for="start">Runtime Minimum</label>
<input
  type="number"
  class="form-control"
  name="start" style="color:blue; caret-color: red; width: 50%;"
  id="start"
  value="{{ originalMinimum }}"
/>

<label for="end">Runtime Maximum</label>
<input
  type="number"
  class="form-control"
  name="end" style="color:blue; caret-color: red; width: 50%;"
  id="end"
  value="{{ originalMaximum }}"
/>

<div class="col-6">
  <label for="genres">Genres</label>
  <input
    type="text"
    class="form-control"
    name="genres" style="color:blue; caret-color: red; "  
    id="genres"
    value="{{ genres }}"
  />
</div>

<div class="btn-wrapper">
  <input
    class="btn"
              type="submit"
    value="Filter"
    style="width: 50% !important; "
  />
</div>
</form>




<div id="movies">
    <table>
        <tr>
          <th>Rank</th>
          <th>Title</th>
          <!-- <th>Year</th> -->
          <!-- <th>Director</th>
          <th>Runtime</th> -->
          <th>Count</th>
          <th>Percentage</th>
          <th>Stars</th>
          <th>Genres</th>
          <!-- <th>IMDB</th>
          <th>Rotten Tomatoes</th>
          <th>Audience Rating</th> -->
          <th></th>
          <th></th>
        </tr>
        {% for movie in movies %}
        <tr id="movie-{{movie.id}}">
          <td>{{ movie.rank }}</td>
          <td><a style="color: brown;" href='http://www.google.com/search?q={{movie.title}} ({{movie.year}})' target="_blank"> <u> {{ movie.title }}  </u></a> {% if movie.liked == 1 %}
            <span style="color: red;">&#128077;</span> <!-- Red heart -->
          {% elif movie.liked == 2 %}
            <span>&#129309;</span> <!-- Handshake -->
          {% elif movie.liked == 3 %}
            <span>&#128078;</span> <!-- Trash can -->
        
          {% endif %}</td>
          <!-- <td><a  href='/all-movies-year/{{movie.year}}'>  {{ movie.year }} </a></td> -->
          <!-- <td>{{ movie.director }}</td>
          <td>{{ movie.runtime }}</td> -->
          <td>{{ movie.rankingWinCount }} / {{movie.rewatchCount}} </td>
          <td>{{ movie.rankingPercentage }}%</td>
          <td>{{ movie.stars }}/10</td>
          <td>{{ movie.genres }}</td>
          <!-- <td>{{ movie.imdbRating }}</td>
          <td>{{ movie.rottenTomatoRating }}</td>
          <td>{{ movie.audienceRating }}</td> -->
          <td><a href='/details/{{movie.id}}' title="#{{movie.rank}}">Details </a></td>
          <td><a href='/rank-by-movie/{{movie.id}}'>Rank</a></td>
        </tr>
        {% endfor %}
      </table>
</div>

{% endblock %}
