{% extends 'base-home.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %} Ranking Upsets{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12" >
      <a href='/details/{{movie.id}}' title="#{{movie.rank}}"> <img style="display: block;
      margin-left: auto;
      margin-right: auto;
      " width="25%" src="{{ movie.id|get_poster(movie.title, movie.year, movie.poster)}}" alt="Poster Not Available."> </a>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>
        {% if movie.liked == 1 %}
         
        {% elif movie.liked == 2 %}
        <span style="color: red;">&#128077;</span> <!-- Red heart --> Movies '{{movie.title}}' Upset ({{ winners|length }}):
          
        {% elif movie.liked == 3 %}
        <span style="color: red;">&#128077;</span> <!-- Red heart --> <span>&#129309;</span> <!-- Handshake --> Movies '{{movie.title}}' Upset ({{ winners|length }}):
          {% endif %}


        
      </h4>
      <div id="movies">
        {% for winner in winners %}
        <div class="row">
          <a href='http://www.google.com/search?q={{winner.winnerTitle}}' target="_blank"> {{winner.winnerTitle}}</a> {% if winner.winnerLiked == 1 %}
          <span style="color: red;">&#128077;</span> <!-- Red heart -->
        {% elif winner.winnerLiked == 2 %}
          <span>&#129309;</span> <!-- Handshake -->
        {% elif winner.winnerLiked == 3 %}
          <span>&#128078;</span> <!-- Trash can -->
      
          {% endif %}
          <a href='/rank-by-specific/{{movie.id}}/{{winner.loserMovieId}}'><img width="50%"
              src="{{winner.loserMovieId|get_poster(winner.winnerTitle, winner.winnerYear, winner.winnerPoster)}}" alt="Poster Not Available."> </a>
        </div>
        {% endfor %}
      </div>

    </div>

    <div class="col-6">
      <h4>

        {% if movie.liked == 1 %}
        <span>&#129309;</span> <!-- Handshake --> <span>&#128078;</span> <!-- Trash can --> Movies '{{movie.title}}' Was Upset By ({{ losers|length }}):
        {% elif movie.liked == 2 %}
        <span>&#128078;</span> <!-- Trash can -->  Movies '{{movie.title}}' Was Upset By ({{ losers|length }}):
          
        {% elif movie.liked == 3 %}
          {% endif %}

       
      </h4>
      <div id="movies">
        {% for loser in losers %}
        <div class="row">
          <a href='http://www.google.com/search?q={{loser.loserTitle}}' target="_blank"> {{loser.loserTitle}}</a>{% if loser.loserLiked == 1 %}
          <span style="color: red;">&#128077;</span> <!-- Red heart -->
        {% elif loser.loserLiked == 2 %}
          <span>&#129309;</span> <!-- Handshake -->
        {% elif loser.loserLiked == 3 %}
          <span>&#128078;</span> <!-- Trash can -->
      
          {% endif %}
          <a href='/rank-by-specific/{{movie.id}}/{{loser.winnerMovieId}}'><img width="50%"
              src="{{loser.winnerMovieId|get_poster(loser.loserTitle, loser.loserYear, loser.loserPoster)}}" alt="Poster Not Available."> </a>
        </div>

        {% endfor %}
      </div>

    </div>
  </div>



</div>
{% endblock %}