{% extends 'base.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Rankings{% endblock %}</h1>
{% endblock %}

{% block content %}

<h3>Types of Rankings:</h3>
<input
    class="btn"
              type="button"
    type="delete"
    value="Head To Head"
    onclick="location.href = '/rankings'"
  />
  <input
  class="btn"
              type="button"
  type="delete"
  value="H2H (No Posters)"
  onclick="location.href = '/rankings-without-posters'"
/>
<input
    class="btn"
              type="button"
    type="delete"
    value="Stars"
    onclick="location.href = '/rankings-by-stars-with-posters'"
  />
  <input
  class="btn"
              type="button"
  type="delete"
  value="Stars (No Posters)"
  onclick="location.href = '/rankings-by-stars'"
/>


{% endblock %}
