{% extends 'base.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Recently Watched{% endblock %}</h1>
{% endblock %}

{% block content %}

<h3>Recently Watched:</h3>

<form method="post">
  <label for="start">Start Date</label>
<input
  type="date"
  class="form-control"
  name="start" style="color:blue; caret-color: red; width: 50%;"
  id="start"
  value="{{ originalStart }}"
/>


<label for="end">End Date</label>
<input
  type="date"
  class="form-control"
  name="end" style="color:blue; caret-color: red; width: 50%;"  
  id="end"
  value="{{ originalEnd }}"
/>

<div class="btn-wrapper">
  <input
    class="btn"
              type="submit"
    value="Filter"
    style="width: 50% !important; float: left; "
  />
</div>
</form>

<div id="movies">
    <table style="width: 100%;">
        <tr>
          <th>Movie</th>
          <!-- <th>Year</th> -->
          <!-- <th>Director</th>
          <th>Runtime</th> -->
          <!-- <th>Count</th>
          <th>Points</th> -->
          <!-- <th>Genres</th> -->
          <!-- <th>Watch Date</th>
          <th>Location</th>
          <th>Stars</th>
          <th>Notes</th>
          <th>Recommendation</th> -->
          <!-- <th>IMDB</th>
          <th>Rotten Tomatoes</th>
          <th>Audience Rating</th> -->
          <th></th>
          <th></th>
        </tr>
        {% for movie in movies %}
        <tr>
          <td style=" text-align: center;
          vertical-align: middle;"> {{ movie.title}}</td>
          <!-- <td><a  href='/all-movies-year/{{movie.year}}'>  {{ movie.year }} </a></td> -->
          <!-- <td>{{ movie.director }}</td>
          <td>{{ movie.runtime }}</td> -->
          <!-- <td>{{ movie.rewatchCount }}</td>
          <td>{{ movie.rewatchScore }}</td> -->
          <!-- <td>{{ movie.genres }}</td> -->
          <!-- <td style=" text-align: center;
          vertical-align: middle;">{{ movie.lastWatchedDate }}</td>
          <td style=" text-align: center;
          vertical-align: middle;">{{ movie.location }}</td>
          <td style=" text-align: center;
          vertical-align: middle;">{{ movie.stars }}</td>
          <td style=" text-align: center;
          vertical-align: middle;">{{ movie.notes }}</td>
          <td style=" text-align: center;
          vertical-align: middle;">{{ movie.recommend }}</td> -->
          <!-- <td>{{ movie.imdbRating }}</td>
          <td>{{ movie.rottenTomatoRating }}</td>
          <td>{{ movie.audienceRating }}</td> -->
          <td style=" text-align: center;
          vertical-align: middle;"><a href='/update-movie/{{movie.id}}'>Update </a></td>
          <td style=" text-align: center;
          vertical-align: middle;"><a href='/rank-by-movie/{{movie.id}}'>Rank</a></td>
        </tr>
        {% endfor %}
      </table>
</div>

{% endblock %}
