{% extends 'base.html' %}
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %} Past Rankings {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container">
      <div class="row">
        <div class="col-12"> <h4>
          Past Rankings:
        </h4></div>
       
        <div>
          <div id="movies">
            <table>
              <tr>
                <th>Winner Movie</th>
                <th>Loser Movie</th>
                <th>Date</th>
                <th>Keep</th>
                <th>Reverse</th>
              </tr>
              {% for ranking in flagged %}
              <tr>
                <td style="width: 16%;"> 
                  <div class="row">
                    <div class="col-12">
                      <a style="color: brown;" style="color: brown;"
                    href='http://www.google.com/search?q={{ranking.winnerTitle}} ({{ranking.winnerYear}})' target="_blank"> <u> {{
                      ranking.winnerTitle }} (#{{ranking.winnerRank}}) </u></a>
                    </div>
                    <div class="col-12">
                      <a href='/details/{{ranking.winnerMovieId}}'>
                        <img src="{{ ranking.winnerMovieId|get_poster(ranking.winnerTitle, ranking.winnerYear, ranking.winnerPoster) }}" alt="Poster Not Available."> 
                      </a>
                    </div>
                  </div>
                </td>
                <td style="width: 16%;"> 
                  <div class="row">
                    <div class="col-12">
                      <a style="color: brown;"
                    href='http://www.google.com/search?q={{ranking.loserTitle}} ({{ranking.loserYear}})' target="_blank"> <u> {{
                      ranking.loserTitle }} (#{{ranking.loserRank}}) </u></a>
                    </div>
                    <div class="col-12">
                      <a href='/details/{{ranking.loserMovieId}}'>
                        <img src="{{ ranking.loserMovieId|get_poster(ranking.loserTitle, ranking.loserYear, ranking.loserPoster) }}" alt="Poster Not Available."> 
                      </a>
                    </div>
                  </div>
                </td>
                <td>{{ ranking.rankingDate }}</td>
                <td>
                  <a style="color: blue;"
                    href='/confirm/{{ranking.id}}' >  <u>Confirm</u> </a>
                </td>
                <td>
                  <a style="color: blue;"
                    href='/reverseViewRanking/{{ranking.id}}' ><u>Reverse</u>   </a>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
  
        </div>



      
      
    </div>
  </form>
</div>
{% endblock %}